
.socials {
    position: fixed;

    left: 2rem;
    bottom: 2rem;

    display: flex;
    flex-direction: column;

    gap: 2.25rem;
    z-index: 1000;

    width: 6rem;

    mix-blend-mode: difference;
    overflow: hidden;

    transition-delay: .35s;
    padding: .1rem;

    & > div {
        transform: translate3d(-120%, 0, 0);
    }

    &.down {
        & .github {
            transform: translate3d(-120%, 0, 0);
            transition: .35s;
        }

        & .vk {
            transform: translate3d(-120%, 0, 0);
            transition: .35s;
            transition-delay: .08s;
        }

        & .gmail {
            transform: translate3d(-120%, 0, 0);
            transition: .35s;
            transition-delay: .16s;
        }

        & .telegram {
            transform: translate3d(-120%, 0, 0);
            transition: .35s;
            transition-delay: .24s;
        }

        transform: translateY(.9rem);
        transition-delay: .45s;


        & .text {
            transform: none;
            transition: .35s;
            transition-delay: .7s;
        }
    }

    @media only screen and (max-width: 768px) {
        display: none;
    }
}

.text {
    font-size: .7rem;
    font-weight: bold;
    font-family: var(--neutral);

    width: 6rem;

    position: absolute;
    bottom: 0;

    transform: translate3d(0, 110%, 0);
    transition: .35s;
}



.icon {
    & path {
        fill: white;
        transition: .3s;
    }

    transition: .3s;

    &:hover {
        transform: scale3d(1.1, 1.1, 1);
        transition: .3s;
    }
}


.github {
    width: 1.2rem;
    height: 1.15rem;

    transition: .35s ease-in;
    transition-delay: .49s;
}

.vk {
    width: 1.2rem;
    height: .7rem;

    transition: .35s ease-in;
    transition-delay: .41s;

    &:hover {
        & path {
            fill: #0077FF;
            transition: .3s;
        }
    }
}

.gmail {
    width: .95rem;
    height: .7rem;

    transition: .35s ease-in;
    transition-delay: .33s;

    &:hover {
        & path {
            fill: #FBBC04;
            transition: .3s;
        }
    }
}

.telegram {
    width: 1rem;
    height: .85rem;

    transition: .35s ease-in;
    transition-delay: .25s;

    &:hover {
        & path {
            fill: #24A1DE;
            transition: .3s;
        }
    }
}


.iconContainer {
    position: relative;
    width: 1.2rem;

    // overflow: hidden;

    // &::after {
    //     content: '';

    //     position: absolute;
    //     background: #fff;

    //     width: 1%;
    //     height: 1%;

    //     top: 50%;
    //     left: 50%;

    //     transform: translate(-50%, -50%);
    //     opacity: 0;

    //     transform-origin: center;
    //     transition: .4s;

    //     z-index: -100;
    //     border-radius: 50%;
    // }

    // &:hover::after {
    //     transform: translate(-50%, -50%) scale3d(100, 100, 1);
    //     opacity: 1;

    //     transition: .4s;
    // }
}

