.swiper {
  opacity: 0;
  max-width: 1920px;
  overflow: hidden;
}

.swiper-slide {
  width: 35rem;
  height: 23.5rem;

  position: relative;
  border-radius: 0.35rem;
  overflow: auto;

  @media screen and (max-width: 1024px) {
    width: 87%;
    height: 8rem;
  }

  --shadow-opacity: 0;

  &::after {
    position: absolute;
    content: '';

    top: 0;
    left: 0;

    width: 100%;
    height: 100%;

    opacity: var(--shadow-opacity);

    background: rgba(0, 0, 0, 0.4);
    transition: 0.8s;

    border-radius: .25rem;
    pointer-events: none;
  }
}

.slide_work {
  transform: translateX(-100px);
  opacity: 0;

  &.active {
    transform: none;
    opacity: 1;

    transition: 0.35s;
  }
}

.swiper-slide-active {
  &::after {
    opacity: 0 !important;
    transition: 0.8s;
  }
}
