.firstScreen {
    height: 100vh;
    user-select: none;
    position: relative;

    @media only screen and (max-width: 1024px) {
        height: 100dvh;
        margin-bottom: 60dvh;
    }
}


.title {
    font-family: var(--neutral);
    font-weight: bold;
    font-size: 5rem;

    &.ru {
        font-size: 4rem;
    }

    width: 55rem;
    text-align: center;

    margin: auto;
    margin-top: 18%;

    mix-blend-mode: difference;

    & span {
        color: transparent;

        &:nth-child(1) {
            padding-left: 5px;
        }

        &:nth-child(odd) {
            margin-right: .25em;
        }
    }


    @media only screen and (max-width: 1024px) {
        font-size: 2.5rem;
        width: 100%;
        margin-top: 5.5rem;

        &.ru {
            margin-top: 6.5rem;
            font-size: 1.55rem;
            padding-top: 0.05rem;
        }

        & span {
            width: 100%;

            padding: 0;
            margin: 0;
        }
    }
}


.text {
    display: flex;
    flex-direction: column;
}

.contact {
    margin: 2.15rem auto 0 auto;
    mix-blend-mode: difference;

    opacity: 0;
    transform: translateY(2rem);

    @media only screen and (max-width: 1024px) {
        // position: absolute;
        margin: 1.45rem auto 0 auto;

        // top: 4dvh;
        // left: 50%;
        // transform: translateX(-50%);
        // margin: 0;
    }
}

.earth {
    position: absolute;
    left: calc((100vw - 76.5rem) / 2 * -1);

    z-index: -500;

    width: 100vw;
    height: 100vh;
    // opacity: 0;

    @media only screen and (max-width: 1024px) {
        width: 100vw;
        height: 50dvh;

        bottom: 0dvh;
        left: 50%;
        transform: translateX(-50%);

        // overflow: hidden;

        & canvas {
            display: block;
            margin: auto;
        }
    }

    // @media only screen and (max-width: 1024px) and (min-width: 416px) {
    //     width: 100vw;
    // }
}
