.languageLinks,
.name,
.accent,
.menu {
  z-index: 1000;
  mix-blend-mode: difference;
}

.name {
  font-family: var(--neutral);
  font-weight: bold;

  font-size: 1.1rem;

  position: fixed;
  left: 2rem;
  top: 2rem;

  overflow: hidden;

  & a {
    display: block;
    transform: translateY(-100%);
  }

  @media only screen and (max-width: 768px) {
    font-size: .8rem;

    top: 1.35rem;
    left: .75rem;
  }
}

.accent {
  position: fixed;

  bottom: 2rem;
  right: 2rem;

  width: 6.5rem;
  height: 3rem;

  text-align: right;

  font-size: 0.7rem;
  font-weight: bold;

  line-height: 134%;
  overflow: hidden;

  // transition: .3s;
  transition-delay: 0.3s;

  &.ru {
    width: 9.5rem;
  }

  &.down {
    transition-delay: 0.3s;
    transform: translateY(0.85rem);
    // transition: .3s;
  }

  @media only screen and (max-width: 768px) {
    display: none;
  }
}

.works {
  position: absolute;
  transition: 0.4s;

  right: 0;
  bottom: 0;

  transform: translate3d(-140%, 0, 0);
  transition-delay: 0;

  &.active {
    // right: 0;
    transform: none;

    transition: 0.4s;
    transition-delay: 0.3s;
  }
}

.slogan {
  position: absolute;
  transition: 0.4s;

  bottom: 0;
  left: 0;
  transform: none;

  transition-delay: 0.25s;
  transform: translate3d(100%, 0, 0);

  &.hidden {
    // bottom: -100%;
    transform: translate3d(0, 100%, 0) !important;

    transition: 0.4s;
    transition-delay: 0s;
  }

  @media only screen and (max-width: 768px) {
    display: none;
  }
}

.menu {
  position: fixed;

  right: 2rem;
  top: 2rem;
}

.languageLinks {
  margin-top: 2.6rem;
  position: relative;

  display: flex;
  flex-direction: column;

  gap: 0.75rem;
  overflow: hidden;

  & a {
    display: block;
    transform: translate3d(100%, 0, 0);
  }

  @media only screen and (max-width: 1024px) {
    display: none;
  }
}

.languageLink {
  margin-left: auto;

  font-size: 0.7rem;
  font-weight: bold;
  font-family: var(--neutral);
}
