<script>
    import pageScroll from '../app/js/scroll'
    import { PreventOverScrolling } from 'prevent-overscrolling'
    import { locomotiveScroll } from './js/locomotive'


    const container = document.body.querySelector('.scrollable_container')
    PreventOverScrolling(container)


    pageScroll()
    setTimeout(() => window.scrollTo(0, 0), 200)



    const targets = document.body.querySelectorAll('.text_hover_white')
    targets.forEach(target => {
        const text = target.textContent
        target.innerHTML = `<span>${text}</span>`
    })


    document.documentElement.setAttribute('page', 'home')



</script>